.card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin-right: 22px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0; 
    opacity: 0.3;
    border: 1px solid black;
    margin-top: 10px;
  }
  
  .card.active {
    opacity: 1;
  }
  
  .heading {
    font-size: 23px;
    font-weight: bold;
  }
  
  .sub-heading {
    margin-top: 3px;
    font-size: 18px;
    color: #777;
    width: 300px;
  }
  
  .para {
    font-size: 14px;
    margin-top: 8px;
    width: 300px;
  }
  /* carousel */
  .carousel-status{
    display: none;
  }
  .control-dots{
    display: none;
  }
  .thumbs-wrapper{
    display: none;
  }